body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #ffff;
}

.container{
    background-color: #63c5da;
    width: 60%;
    height: 100%;
    padding: 10px;
    margin: 20px auto;
}

.frame{
    overflow: hidden;
}

.one{
    width: 70%;
    height: 350px;
    background-color: #1f456e;
    margin: 30px auto;
}

.two{
    width: 70%;
    height: 100px;
    background-color: #0492c2;
    margin: 30px auto;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px #0492c2;
    filter: blur(1px);
}

.three{
    width: 70%;
    height: 350px;
    background-color: #1f456e;
    margin: 30px auto;
}

.one, .three{
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #1f456e;
    filter: blur(2px);
}

